/* Body */

:root {
  --primary: white;
  --secondary: #2A7B9B;
  --content: #E9E6E6;
  --gradient: #0D263B;
  --text-primary: black;
  --text-secondary: white;
  --smooth-transition: cubic-bezier(0.25, 0.1, 0.25, 1);
}

body {
  background-color: var(--primary);
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Header */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.25rem;
  padding: 1rem;
  color: var(--text-secondary);
  background: var(--secondary);
  background: linear-gradient(33deg, var(--secondary) 0%, var(--gradient) 100%);
  display: flex;
  align-items: center;
  box-shadow: -1rem 0rem 1rem var(--text-primary);
}

header h2 {
  font-weight: 300;
  font-size: 1.25rem;
}

header h3,
header a {
  font-size: 1rem;
  font-weight: 300;
}

header a {
  max-height: 2rem;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--gradient);
  color: var(--text-secondary);
  transition: transform 0.3s var(--smooth-transition);
}

header a:hover {
  transform: scale(1.05);
}

header * {
  font-size: 1.5rem;
}

header #right {
  margin-left: auto;
  padding-right: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Content */

main {
  position: absolute;
  top: 8.25rem;
  left: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 100%;
}

main * {
  color: var(--text-primary);
  font-size: 1rem;
  font-weight: 400;
}

#return {
  margin-top: 1rem;
  margin-left: 0.4rem;
}

/* Containers */

#container {
  width: 90%;
  margin-top: 1rem;
  background-color: var(--content);
  padding: 1rem;
  border-radius: 1rem;
}

input,
textarea,
select {
  border: none;
  border-radius: 0.25rem;
  background-color: var(--primary);
}

table {
  width: 100%;
  background-color: var(--primary);
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
  border: 0.1rem solid var(--content);
}

th {
  background-color: lightgray;
}

#container label {
  display: inline-block;
  margin-top: 0.25rem;
  margin-bottom: 0.15rem;
}

#btext {
  font-weight: 600;
  font-size: 1.25rem;
}

#htext {
  font-weight: 600;
  font-size: 1.1rem;
}

#rq {
  color: lightcoral;
}

.error {
  color: red;
}
